@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora&family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0 12px;
  background-color: #181719;
  color: white;
  z-index: 1;
}

/* Heading section of the page */
/* .header {
  display: flex;
  justify-content: space-between;
} */
/* style for title of the page */
#title {
  margin-top: 19px;
  display: inline-block;
  float: left;
  font-family: "Crimson Pro";
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 6px;
  border: 1px solid white;
  border-radius: 4px;
}

/* style for navigation  float right*/
.nav {
  float: right;
}
.material-symbols-outlined {
  margin-top: 16px;
  padding: 7px;
}
/* hover effect */
.icon:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
#close {
  float: right;
  margin-right: 12px;
}

/* menu list */
#wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  overflow: visible;
  top: 0;
  left: 0;
  /* display none */
  display: none;
  z-index: 100;
}

ul {
  width: 100%;
  height: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
  align-content: center;
}
li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

li a {
  padding: 6px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: white;
}
a.active {
  font-weight: 700;
  border-bottom: 2px solid white;
}

/*  style for content of the page */
/* clearfix property */
.header::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  padding: 48px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  z-index: 10;
}

#heading {
  padding: 5px 0;
  display: inline-block;
  font-family: Lora;
  font-weight: 500;
  font-size: 36px;
}
.para {
  margin-top: 25px;
  max-width: 250px;
  font-family: Montserrat;
  font-size: 14px;
}
.button {
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.more {
  font-size: 18px;
  padding: 0px 4px;
  position: relative;
  top: 4px;
}

/* styling sample interior design */
.sample {
  position: relative;
}

/* styling designer's information box */
.des-info {
  max-width: 300px;
  background-color: black;
  box-shadow: 0 0 4px black;
  position: absolute;
  right: 18px;
  bottom: -64px;
  z-index: 50;
}

.upper {
  padding: 13px;
  width: 100%;
  display: grid;
  column-gap: 16px;
  grid-template-columns: 1fr 5fr;
}

#designer {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-image: url("images/photo2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.name {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
}
.job {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
}

#des-by {
  padding: 0 0 20px 20px;
  font-family: Lora;
  font-weight: 700;
  font-size: 18;
}

/* styling footer */
.footer {
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #a9a9a9;
}
#creator {
  text-decoration: none;
  font-weight: 700;
  color: #a9a9a9;
}
#devIo {
  text-decoration: none;
  font-weight: 600;
  color: #a9a9a9;
}
#creator:hover,
#devIo:hover {
  cursor: pointer;
}

/* style for large size screens */
@media screen and (min-width: 900px) {
  body {
    padding: 20px 77px 0;
  }

  /* icons will be removed */
  .icon {
    display: none;
  }

  /* displaying horizontal right aligned navigation links */
  #wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;
    position: static;
    background-color: #181719;
    display: inline-block;
  }
  ul {
    flex-direction: row;
    column-gap: 90px;
  }
  li a {
    padding: 10px;
  }

  /* styling content for larger screens to be displayed columns */
  .content {
    margin-top: 30px;
    grid-template-columns: 4fr 8fr;
    justify-content: space-between;
  }
  .desc {
    align-self: center;
  }
  .para {
    max-widht: 410px;
  }
  .sample {
    max-width: 737px;
    justify-self: flex-end;
  }
  .des-info {
    width: 400px;
  }
  .name {
    font-size: 14px;
  }
  .job {
    font-size: 12px;
  }
  #des-by {
    font-size: 24px;
  }
}
